#project {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    .collection {
        margin: 0;
        .collection-item {
            transition: all 0.8s;
        }
        .collection-item:last-child {
            border-bottom: 1px solid #e0e0e0;
        }
        .disabled {
            background-color: rgba(0, 0, 0, 0.26);
            color: #9B9B9B;
        }
        .collection-item:not(.disabled):hover {
            background-color: #26a69a;
            color: #eafaf9;
        }
    }
    #contentInfo {
        padding: 10px 30px;
        h3 {
            text-align: center;
        }
    }
    #phpPage {
        padding: 10px 30px;
        height: 100%;
        h3 {
            text-align: center;
            height: 50px;
        }
        #objectCont {
            height: calc(100% - 80px);
            border: 1px solid #e0e0e0;
            padding: 15px;
            position: relative;
            overflow: auto;
            svg{
                position: absolute;
                width: 100%;
                height: 100%;
                overflow:visible;
                line{
                    cursor: pointer;
                }
                #selectedLine{
                    stroke: rgb(0, 38, 255); fill: rgb(0, 38, 255);
                }
            }
            .object {
                border: 1px solid #9D9D9D;
                display: inline-block;
                background-color: #FFF;
                position: absolute;
                z-index: 50;
                * {
                    user-select: none;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                }
                .title {
                    border-bottom: 1px solid #9D9D9D;
                    padding: 3px 10px;
                }
                .propCont {
                    .prop {
                        padding: 3px 10px;
                    }
                    .primary {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
                .connector{
                    position: absolute;
                    background-color: black;
                    cursor: grab;
                    transition:all 0.5s;
                    width: 5px;
                    height: 5px;
                }
                .connectorLeft {
                    left: -5px;
                    top: calc(50% - 2.5px);
                }
                .connectorRight {
                    right: -5px;                 
                    top: calc(50% - 2.5px);
                }
                .connectorTop{
                    top:-5px;
                    left:calc(50% - 2.5px);
                }
                .connectorBottom{
                    bottom:-5px;
                    left:calc(50% - 2.5px);
                }
            }
            .create {
                border: 1px solid #09F60F;
                .title {
                    border-bottom: 1px solid #09F60F;
                }
            }
            .update {
                border: 1px solid #77D7FF;
                .title {
                    border-bottom: 1px solid #77D7FF;
                }
            }
            .delete {
                display: none;
            }
        }
    }
}

#infoObject {
    .titleObj {
        display: inline-block;
        width: auto;
        border: none !important;
        margin: 0;
        font-size: 2.28rem;
        box-shadow: none;
    }
    .delete {
        color: red;
    }
    .modal-content {
        overflow: auto;
    }
    .action {
        text-align: center;
    }
}

#linkObject{
    .select-wrapper{
        display: inline-block;
        width: 50px;
        margin: 0 25px;
    }
}

#project>.row>.col {
    padding: 0;
}

#project>.row {
    height: 100%;
}