@import 'home';
@import 'create';
@import 'project';
body,
html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#view {
    height: calc(100% - 64px);
    display: inline-block;
    width: 100%;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    display: none;
}

.spinner {
    width: 130px;
    height: 130px;
    position: absolute;
    top: calc(50% - 65px);
    left: calc(50% - 65px);
}

.cube1,
.cube2 {
    background-color: #FFF;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(90px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(90px) translateY(90px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(90px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(90px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(90px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(90px) translateY(90px) rotate(-179deg);
        -webkit-transform: translateX(90px) translateY(90px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(90px) translateY(90px) rotate(-180deg);
        -webkit-transform: translateX(90px) translateY(90px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(90px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(90px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
