extends ../layout

block content
    h3 className
    a(href="/className/add") Ajouter
    table
        thead
            tr
indexTableHeader
        tbody
            each item in list 
                tr
indexTableContent                