doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/css/materialize.min.css')
        link(rel='stylesheet', href='/css/style.css')

        script(src="/js/jquery.min.js")
        script(src="/js/materialize.min.js")
        script(src="/js/default.js")
    body
        #topBar
            #titleTopBar Projet
        #botContent
            nav#navBar
                
            #content
                #mainContent
                    block content
